<div class="row">
    <div class="list-group col-sm-8 col-sm-offset-2">
        <button class="list-group-item"
                *ngFor="let item of list.items; let i = index"
                [ngClass]="{'active': item.done}"
                (click)="list.toggleDone(i)">
            <button (click)="list.deleteItem(i)" class="badge">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <h4>{{item.title}}</h4>
            <small>{{item.dueDate | date}}</small>
        </button>
    </div>
</div>
